@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}

.main_header {
  padding-top: 56px;
}

.main_header__logo {
  display: inline-block;
}

.main_header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.main_header__link {
  color: #242d52;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.main_header__btn {
  color: #fcf6f5;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 22px;
  -webkit-box-shadow: 0px 15px 15px -10px rgb(255, 159, 142);
          box-shadow: 0px 15px 15px -10px rgb(255, 159, 142);
  background: rgb(243, 96, 60);
  border: none;
  padding: 12px 32px;
}

.main_header__menu {
  width: 25px;
  height: 18px;
  background-image: url("/img/menu.svg");
  border: none;
  background-color: transparent;
  display: none;
}

@media screen and (max-width: 900px) {
  .main_header__list,
  .main_header__btn {
    display: none;
  }
  .main_header__menu {
    display: inline-block;
  }
  .main_header__logo {
    max-width: 109px;
  }
}
.hero {
  padding-top: 120px;
}

.hero__title {
  color: #242d52;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  max-width: 445px;
  margin-bottom: 16px;
}

.hero__text {
  color: #242d52;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
  max-width: 350px;
  margin-bottom: 40px;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .hero__btn {
    display: inline-block;
  }
  .hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__title {
    max-width: 707px;
  }
  .hero__content {
    text-align: center;
  }
  .hero__text {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 576px) {
  .hero__title {
    font-size: 40px;
    line-height: 50px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 29px;
  }
}
.manage {
  padding-top: 153px;
  padding-bottom: 165px;
}

.manage__title {
  color: rgb(36, 45, 82);
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 24px;
  max-width: 455px;
}

.manage__text {
  color: #242d52;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
  max-width: 350px;
}

.manage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage__list {
  max-width: 540px;
  width: 100%;
}

.manage__item {
  margin-bottom: 46px;
  padding-left: 95px;
  position: relative;
}

.manage__sub_title {
  color: #242d52;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.29px;
  margin-bottom: 19px;
}

.manage__cap {
  color: #242d52;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
}

.manage__number {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  display: inline-block;
  border-radius: 39px;
  background: #f3603c;
  padding: 10px 23px;
  position: absolute;
  left: 0;
  top: -10px;
}

@media screen and (max-width: 960px) {
  .manage__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .manage__content {
    margin-bottom: 54px;
    text-align: center;
  }
  .manage__title {
    max-width: 100%;
  }
  .manage__text {
    max-width: 100%;
  }
  .manage__list {
    max-width: 100%;
  }
  .manage__item {
    padding: 0;
  }
  .manage__sub_title {
    padding-left: 82px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  .manage__sub_title::after {
    content: "";
    position: absolute;
    background-color: #fff0ec;
    inset: 0;
    z-index: -1;
    right: -20px;
    border-top-left-radius: 39px;
    border-bottom-left-radius: 39px;
  }
  .manage__number {
    top: 0;
  }
}
.customer {
  padding-bottom: 180px;
}

.customer__title {
  color: #242d52;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.71px;
  text-align: center;
  margin-bottom: 100px;
}

.customer__sub_title {
  color: #242d52;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.29px;
  margin-bottom: 19px;
}

.customer__content {
  max-width: 540px;
  padding: 60px 40px 40px 40px;
  text-align: center;
  background: #fafafa;
  position: relative;
  border: 1px solid red;
}

.customer__text {
  color: #242d52;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5;
}

.customer__img_block {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 660px) {
  .customer__card:nth-child(2) {
    display: none;
  }
  .customer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */